project          = "infra-264219"
region           = "europe-north1"
zone             = "europe-north1-a"
public_key_path  = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image       = "reddit-base"
